@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

* {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  background: #b0c0bc;
}

a {
  display: block;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
}
@media (max-width: 767px) {
  h2 {
    font-size: 2rem;
  }
}

button {
  outline: none;
  border: none;
  padding: 0;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 1em;
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1.5em;
  position: sticky;
  top: 0;
  z-index: 1;
}
@media (max-width: 767px) {
  .navbar {
    padding: 0.5em;
  }
}
.navbar-control:checked ~ *.nav {
  left: -500px;
}
.navbar-icon, .navbar-control {
  display: none;
}
@media (max-width: 992px) {
  .navbar-icon, .navbar-control {
    display: block;
  }
}
.navbar-control {
  position: absolute;
  z-index: -2;
  opacity: 0;
}
.navbar-icon {
  padding: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.navbar-icon:hover {
  background: #cf2d38;
}
.navbar-icon div {
  width: 50px;
  height: 4px;
  background: #ffffff;
  border-radius: 2px;
}
.navbar-icon div:nth-child(1) {
  margin-bottom: 10px;
}
.navbar-icon div:nth-child(3) {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .navbar-icon div {
    width: 25px;
    height: 2px;
  }
  .navbar-icon div:nth-child(1) {
    margin-bottom: 5px;
  }
  .navbar-icon div:nth-child(3) {
    margin-top: 5px;
  }
}

.nav {
  display: flex;
  transition: all 0.5s ease;
}
@media (max-width: 992px) {
  .nav {
    position: absolute;
    top: 79px;
    left: 0;
    z-index: 0;
    flex-direction: column;
    width: 40%;
    height: 100vh;
  }
}
@media (max-width: 767px) {
  .nav {
    width: 60%;
  }
}
.nav-list {
  padding: 0.5em 1em;
  border-radius: 10px;
}
.nav-list:hover {
  background: #cf2d38;
}
.nav li:not(:last-child) {
  margin-right: 1em;
}
@media (max-width: 767px) {
  .nav li:not(:last-child) {
    margin: 0.5em;
  }
}
@media (max-width: 992px) {
  .nav li {
    padding: 1em 0;
    margin: 1em;
    border-bottom: 1px solid #ffffff;
  }
}
@media (max-width: 767px) {
  .nav li {
    margin: 0.5em;
  }
}

.header {
  background: url("https://www.popdaily.com.tw/shaper/u/202401/e4284f17-8c13-49fd-87ac-10959073a71f.jpg?resize-w=1100&resize-h=572") no-repeat 30%/cover;
  padding: 10em 0;
}
@media (max-width: 767px) {
  .header {
    padding: 6em 0;
  }
}

.live {
  padding: 4em 1em 2em 1em;
}
@media (max-width: 767px) {
  .live {
    padding: 2.5em 1.5em 1.5em 1.5em;
  }
}
.live-title {
  padding: 0.2em 0.5em;
  margin-bottom: 1em;
}
.live-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}
@media (max-width: 767px) {
  .live-list {
    gap: 1.5em;
  }
}

.event {
  padding: 2em 1em;
}
@media (max-width: 767px) {
  .event {
    padding: 1.5em;
  }
}
.event-title {
  padding: 0.2em 0.5em;
  margin-bottom: 1em;
  text-align: center;
}
.event-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .event-content {
    justify-content: center;
  }
  .event-content > button {
    width: 50%;
  }
}
.event-content > a {
  width: 70%;
}
@media (max-width: 767px) {
  .event-content > a {
    width: 100%;
    margin-bottom: 2em;
  }
}
.event-content > a img {
  transition: all 0.5s ease;
}
.event-content > a:hover img {
  transform: scale(1.1);
}
.event-content > a > div {
  overflow: hidden;
}

.btn-more {
  padding: 1em;
  transition: all 0.2s ease;
}
@media (max-width: 767px) {
  .btn-more {
    padding: 0.5em;
  }
}
.btn-more:hover {
  color: #ffffff;
  background: #cf2d38;
}

.entertain {
  padding: 4em 1em 6em 1em;
}
@media (max-width: 767px) {
  .entertain {
    padding: 1.5em 1.5em 4em 1.5em;
  }
}
.entertain-title {
  padding: 0.2em 0.5em;
  margin-bottom: 1em;
}
.entertain-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}
@media (max-width: 767px) {
  .entertain-list {
    gap: 2.5em;
  }
}

.card {
  width: 0;
  flex-grow: 1;
}
@media (max-width: 767px) {
  .card {
    width: 100%;
  }
}
.card a:hover .card-img {
  transform: scale(1.1);
}
.card-head {
  overflow: hidden;
}
.card-img {
  transition: all 0.5s ease;
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1.5em;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .footer {
    justify-content: center;
  }
}
.footer-logo {
  background: url("./img/我.png") no-repeat right 0 bottom 10%/cover;
  width: 300px;
  height: 60px;
}
@media (max-width: 767px) {
  .footer-logo {
    display: none;
  }
}

.fs-1 {
  font-size: 1.5rem;
}
@media (max-width: 767px) {
  .fs-1 {
    font-size: 1rem;
  }
}
.fs-2 {
  font-size: 2rem;
}
@media (max-width: 767px) {
  .fs-2 {
    font-size: 1.5rem;
  }
}

.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 500;
}
.fw-900 {
  font-weight: 900;
}

.bg-primary {
  background: #29335c;
}

.text-sec {
  color: #cf2d38;
}

.border {
  border: 3px solid #cf2d38;
}
.border-bottom {
  border-bottom: 3px solid #cf2d38;
}
.border-radius {
  border-radius: 10px;
}
.border-radius-m {
  border-radius: 30px;
}

.hiddenH1 {
  background: url("./img/我.png") no-repeat center/cover;
  width: 300px;
  height: 60px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}
@media (max-width: 767px) {
  .hiddenH1 {
    width: 50px;
  }
}/*# sourceMappingURL=all.css.map */