@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  // outline: 1px solid red;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
a {
  font-family: "Noto Sans TC", sans-serif;
  color: white;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  height: auto;
}

.footer {
  background: linear-gradient(-20deg, #3f5494, #08c7a5);
  &-content {
    display: flex;
    justify-content: space-between;
    padding: 150px 0;
  }
  &-item {
    width: 0;
    flex-grow: 1;
    margin-right: 2.5em;
    a {
      display: block;
    }
    a:hover {
      color: #fa0;
    }
  }
}
.form {
  &-input {
    display: flex;
    & > input {
      flex-grow: 2;
    }
    & > button {
      color: #70f6df;
      background-color: #3e5293;
      font-weight: 900;
    }
    & > * {
      padding: 5px 10px;
    }
  }
  &-title,
  &-input > * {
    border: none;
  }
  &-title {
    font-size: 1.5rem;
    font-weight: 300;
    border-bottom: 1px dotted #fff;
    padding: 0.5em 0;
    margin-bottom: 0.5em;
  }
}
.nav {
  &-title {
    font-size: 1.5rem;
    font-weight: 300;
    border-bottom: 1px dotted #fff;
    padding: 0.5em 0;
    margin-bottom: 0.5em;
  }
}
.copyright {
  text-align: center;
  background-color: #3e5293;
  color: #70f6df;
  padding: 10px 0px;
}
